
/* Ogólne style dla całej strony */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

/* Style dla pojedynczego elementu na liście */
div {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

p {
    margin: 5px;
}

strong {
    font-weight: bold;
    color: #555;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}
