body, html, div, ul, li, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Arial", sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar-item {
  margin-left: 20px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
}

.navbar-link:hover {
  color: #ccc;
}

.main-content {
  height: 100%;
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.footer p {
  margin: 0;
}

.alert {
  position: fixed;
  padding-top: 10px;
  bottom: 0px;
  transform: translateY(50%);
  height: 100px;
  width: 100vw;
  font-weight: 600;
  color: #E3E3E3;
  background-color: rgba(255, 0, 0, 0.9);
  opacity: 0;
  box-shadow: 0px -2px 7px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

@keyframes shake {
  0% {
    transform: translateY(100%) rotate(0deg);
    opacity: 0;
  }
  20% {
    transform: translateY(80%) rotate(2deg);
    opacity: 0.2;
  }
  40% {
    transform: translateY(60%) rotate(-2deg);
    opacity: 0.4;
  }
  60% {
    transform: translateY(40%) rotate(2deg);
    opacity: 0.6;
  }
  80% {
    transform: translateY(30%) rotate(-2deg);
    opacity: 0.8;
  }
  100% {
    transform: translateY(50%) rotate(0deg);
    opacity: 1;
  }
}

@keyframes vanish {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

.alert.show {
  opacity: 1;
  animation: shake 0.3s;
}

.alert.hide {
  opacity: 0;
  animation: vanish 0.3s;
}
