/* styles.css */

/* Resetowanie styli */
body,
html,
div,
ul,
li,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Arial", sans-serif;
}

/* Górny pasek nawigacyjny */
.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar-item {
  margin-left: 20px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
}

.navbar-link:hover {
  color: #ccc;
}

/* Główna treść aplikacji */
.main-content {
  padding: 20px;
}

/* Stopka */
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.footer p {
  margin: 0;
}
